/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f9fa; /* Light gray background */
}

.container {
    max-width: 1200px; /* Set maximum width for content */
    margin: 0 auto; /* Center content horizontally */
    padding: 20px;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    background-color: #fff; /* White background */
    margin-bottom: 40px; /* Add some space between sections */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    padding: 40px;
}

h2 {
    font-weight: bold; /* Bold headings */
    color: #343a40; /* Dark gray text */
}

p {
    color: #555; /* Medium gray text */
    margin-bottom: 20px; /* Add some space between paragraphs */
    line-height: 1.4;
}

strong {
    font-weight: bold; /* Bold styling for important information */
    color: #343a40; /* Dark gray text */
}

ul {
    margin-top: 0; /* Remove margin from unordered lists */
    padding-left: 20px; /* Add padding to unordered lists */
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    
}

@media screen and (min-width: 769px) {
    .container {
        padding: 40px;
    }

    section {
        padding: 40px;
    }
}
